<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="43906ChrisLovett.SensorTag" Publisher="CN=BC801FCC-0BF8-49D7-9F51-1B625C3BE476" Version="1.2.0.1" />
  <Properties>
    <DisplayName>SensorTag</DisplayName>
    <PublisherDisplayName>Chris Lovett</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SensorTag.Windows.App">
      <m2:VisualElements DisplayName="SensorTag" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SensorTag.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
      <m2:Device Id="any">
        <m2:Function Type="name:battery" />
        <m2:Function Type="serviceId:f000aa00-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa10-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa20-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa30-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa40-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa50-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:0000ffe0-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:00001800-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:00001801-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:0000180A-0000-1000-8000-00805f9b34fb" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>